@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vehicles 2023</h1>
    <img src="~/images/Taller_logo.png"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Contruyendo aplicaciones Web con ASP.NET Core</a>.</p>
</div>
